/* Font - mote */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --- base Classes --- */

:root {
    --brown: #3B1804;
    --white: #ffffff;
}

/* Visually hides item, use to give extra info to screen readers */
.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main{
    height: -webkit-fill-available;
}

/* --- Header and Nav Bar --- */

/* topNav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--brown);
}

.title{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

h1 {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-size: 30px;
    text-align: center;
    width: -webkit-fill-available;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-img, 
.hamburger{
    height: 60px;
    padding: 10px;
}

#menu{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: var(--brown);
}

.nav-item{
    list-style-type: none;
    padding: 14px 16px;
    width: 250px;
}

.nav-link{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

/* Footer */
footer{
    background-color: var(--brown);
    color: var(--white);
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links li{
    list-style-type: none;
    align-items: center;
    align-content: center;
    height: 75px;
}

.social-links li a{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

footer ul li a img{
    height: 60px;
    padding-top: 7px;
}

/* Most important */

/* completely hides item, visually and for screen readers */
.hidden{
    display: none;
}