/* Font - mote */


/* --- base Classes --- */

:root {
    --brown: #3B1804;
    --white: #ffffff;
}

/* Visually hides item, use to give extra info to screen readers */
.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* --- Header and Nav Bar --- */

/* topNav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.title{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    background-color: var(--brown);

}

h1 {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

nav{
    background-color: var(--brown);
    align-items: flex-end;
}

.nav-img, 
.hamburger{
    height: 60px;
    margin: 10px;
}

.hamburger{
    position: absolute;
    right: 0;
    top: 0;
}

#menu{
    flex-direction: column;
    padding: 80px 0px 0px 0px;
    margin: 0;
}

.nav-item{
    list-style-type: none;
    padding: 14px 16px;
    width: 250px;
}

.nav-link{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

/* Most important */

/* completely hides item, visually and for screen readers */
.hidden{
    display: none;
}