/* Font - mote */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --- base Classes --- */

:root {
    --brown: #3B1804;
    --white: #ffffff;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Roboto', sans-serif;
}

/* Visually hides item, use to give extra info to screen readers */
.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main{
    height: -webkit-fill-available;
}

/* --- Header and Nav Bar --- */

/* topNav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--brown);
    z-index: 1;
}

.title{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

h1 {
    color: var(--white);
    padding: 10px 0px;
    font-size: 30px;
    text-align: center;
    width: -webkit-fill-available;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-img, 
.hamburger{
    height: 60px;
    padding: 10px;
}

#menu{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: var(--brown);
}

.nav-item{
    list-style-type: none;
    padding: 14px 16px;
    width: 250px;
}

.nav-link{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

/* Footer */
footer{
    background-color: var(--brown);
    color: var(--white);
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links li{
    list-style-type: none;
    align-items: center;
    align-content: center;
    height: 75px;
}

.social-links li a{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

footer ul li a img{
    height: 60px;
    padding-top: 7px;
}

/* Main Page */

.boxes{
    height: 400px;
    color: var(--brown);
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

#box-3{
    background-image: url(../img/fuu-j-r2nJPbEYuSQ-unsplash.jpg);
    background-size: cover;
}

#box-2{
    background-image: url(../img/chelsea-gates-n8L1VYaypcw-unsplash.jpg);
    background-size: cover;
}

#box-1{
    background-image: url(../img/toa-heftiba-a9pFSC8dTlo-unsplash.jpg);
    background-size: cover;
}

.triangle {
    height: 400px;
    aspect-ratio: 1;
    clip-path: polygon( 100% 100%, 100% 0, 0 0);
    background: var(--white);
    opacity: 0.5;

    display: flex;
    justify-content: end;
    text-align: center;
}

.boxes .box-text{
    height: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    opacity: 1;
    margin-top: 100px;
}

/* Most important */

/* completely hides item, visually and for screen readers */
.hidden{
    display: none;
}